{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/catalogo.css' %}" />

<style>
    #loggin{
      width: 100%;
      background:white;
      border-radius: 10px;
      padding: 20px;
    }
    label{
      font-size: 1rem;
    }
</style>
{% endblock %}

{% block main %}
<div class="container mt-4">
  <div class="row mt-5">
    <div class="col col-md-4"></div>
    <div class="col-12 col-md-4 text-center">
      <form action="" method="post">
          <div id="loggin">
            <h5 class="mb-3">Iniciar sesión</h5>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
            </div>
            <a href="{% url 'registro' %}">¿No tienes una cuenta?</a>
          </div>

      </form>
    </div>
    <div class="col col-md-4"></div>
  </div>
</div>
{% endblock %}
