{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Editar">
                        <input type="reset" class="btn btn-secondary" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
