{% extends 'app/base_categoria.html' %}
{% load static %}

{% block title %} Aventura {% endblock %}

{% block games %}
<!--src="{% static 'app/img/terror.png' %}"e -->
  <div class="col-12 col-md-4 col-lg-3  mt-3 me-3">
    <div class="card" >
      <img src = "{% static 'app/img/aventura/tr.jpg' %}"/>
      <div class="card-body">
        <h5 class="card-title">Tomb Raider (2013)</h5>
        <p class="card-text">
          Tomb Raider es un videojuego de acción-aventura, de mundo
          abierto desarrollado por Crystal Dynamics y distribuido por
          Square Enix. Es el décimo título de la serie Tomb Raider y
          el quinto título desarrollado por Crystal Dynamics.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $5.990</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3  mt-3 me-3
    ">
    <div class="card custom-card" >
      <img
        src = "{% static 'app/img/aventura/gowr.jpg' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">God of War Ragnarök</h5>
        <p class="card-text">
          God of War Ragnarök es un videojuego de acción y aventuras
          desarrollado por Santa Monica Studio y publicado por Sony
          Interactive Entertainment. Se lanzó en todo el mundo el 9 de
          noviembre de 2022 para PlayStation 4 y PlayStation 5, lo que
          marca el primer lanzamiento entre generaciones de la
          serie.​​
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $9.500</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3  mt-3 me-3
    ">
    <div class="card custom-card" >
      <img
        src = "{% static 'app/img/aventura/gowr.jpg' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">God of War Ragnarök</h5>
        <p class="card-text">
          God of War Ragnarök es un videojuego de acción y aventuras
          desarrollado por Santa Monica Studio y publicado por Sony
          Interactive Entertainment. Se lanzó en todo el mundo el 9 de
          noviembre de 2022 para PlayStation 4 y PlayStation 5, lo que
          marca el primer lanzamiento entre generaciones de la
          serie.​​
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $9.500</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3  mt-3 me-3
    ">
    <div class="card custom-card" >
      <img
        src = "{% static 'app/img/aventura/gowr.jpg' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">God of War Ragnarök</h5>
        <p class="card-text">
          God of War Ragnarök es un videojuego de acción y aventuras
          desarrollado por Santa Monica Studio y publicado por Sony
          Interactive Entertainment. Se lanzó en todo el mundo el 9 de
          noviembre de 2022 para PlayStation 4 y PlayStation 5, lo que
          marca el primer lanzamiento entre generaciones de la
          serie.​​
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $9.500</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3  mt-3 me-3
    ">
    <div class="card custom-card" >
      <img
        src = "{% static 'app/img/aventura/gowr.jpg' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">God of War Ragnarök</h5>
        <p class="card-text">
          God of War Ragnarök es un videojuego de acción y aventuras
          desarrollado por Santa Monica Studio y publicado por Sony
          Interactive Entertainment. Se lanzó en todo el mundo el 9 de
          noviembre de 2022 para PlayStation 4 y PlayStation 5, lo que
          marca el primer lanzamiento entre generaciones de la
          serie.​​
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $9.500</li>
      </ul>
    </div>
  </div>

{% endblock %}

