{% extends 'app/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/css/catalogo.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/formulario.css' %}" />
{% endblock %}

{% block js %}
    <script src="{% static 'app/js/chargeAdmin.js' %}"></script>
    <script src="{% static 'app/js/formulario.js' %}"></script>
{% endblock %}

{% block main %}

    </div>
    <section id="section_formulario" class="m-5">
        <div class="container">
            <!--Formulario-->
            <form action="" id="form">
                <!--Nombre-->
                <div id="group-name">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" class="form-control" placeholder="Nombre" id="name" required>
                    </div>
                    <p class="form-control-error">El nombre no puede ser vacio y solo puede contener letras.</p>
                </div>
                <!--Ap paterno-->
                <div id="group-last_name">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Apellido paterno</span>
                        <input type="text" class="form-control" placeholder="Apellido paterno" id="last_name"
                            required>
                    </div>
                    <p class="form-control-error">El apellido paterno no puede ser vacio y solo puede contener
                        letras.</p>
                </div id="group-last_name">
                <!--Ap materno-->
                <div id="group-second_last_name">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Apellido materno</span>
                        <input type="text" class="form-control" placeholder="Apellido materno"
                            id="second_last_name" required>
                    </div>
                    <p class="form-control-error">El apellido materno no puede ser vacio y solo puede contener
                        letras.</p>
                </div>
                <!--Fecha nacimiento-->
                <div id="group-birthday">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fecha nacimiento</span>
                        <input type="date" class="form-control" id="birthday" required>
                    </div>
                    <p class="form-control-error">Fecha invalida y/o debe ser mayor de 13 años.</p>
                </div>
                <!--Correo-->
                <div id="group-email">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Correo</span>
                        <input type="email" class="form-control" placeholder="Correo" id="email" required>
                    </div>
                    <p class="form-control-error">El correo ingresado no es valido.</p>
                </div>
                <!--Direccion (Opcional)-->
                <div class="input-group mb-3" id="group-address">
                    <span class="input-group-text" id="basic-addon1">Direccion (opcional)</span>
                    <input type="text" class="form-control" placeholder="Direccion (opcional)" id="address">
                </div>
                <!--Usuario-->
                <div id="group-user">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Usuario</span>
                        <input type="text" class="form-control" placeholder="Usuario" id="user" required>
                    </div>
                    <p class="form-control-error">El nombre de usuario no es valido, debe tener entre 4 a 16
                        caracteres.</p>
                </div>
                <!--Contraseña-->
                <div id="group-password">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Contraseña</span>
                        <input type="password" class="form-control" placeholder="Contraseña" id="password" required>
                    </div>
                    <p class="form-control-error">La contraseña debe tener entre 6 y 18 caracteres, al menos un
                        numero y una letra mayuscula.</p>
                </div>
                <!--Repetir Contraseña-->
                <div id="group-password2">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Repetir contraseña</span>
                        <input type="password" class="form-control" placeholder="Repetir Contraseña" id="password2" required>
                    </div>
                    <p class="form-control-error">Las contraseñas no coinciden.</p>
                </div>
                <!--Terminos y condiciones-->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="terms_conditions" required>
                    <label class="form-check-label text-light" for="terms_conditions">
                        Terminos y condiciones
                    </label>
                </div>
                <!--Botones-->
                <div>
                    <button type="submit" class="btn btn-dark m-3" id="btn-register">Registrar</button>
                    <button type="reset" class="btn btn-dark" id="btn-clear">Limpiar</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

