{% extends 'app/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
{% endblock %}

{% block main %}
      <section id="categorias">
        <div
          class="container-fluid"
          style="padding-right: 0px; padding-left: 0px"
        >
          <div class="row">
            <div class="col mb-3">
              <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide-to="3"
                    aria-label="Slide 4"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide-to="4"
                    aria-label="Slide 0"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="#"
                      ><img
                         src="{% static 'app/img/terror.png' %}"
                        class="d-block w-100 catImg"
                        alt="..."
                    /></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Terror</h3>
                      <p>Entra en el mundo de las pesadillas</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"
                      ><img
                        src="{% static 'app/img/fantasia.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                    /></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Aventura</h3>
                      <p>¿Listo para explorar universos extraordinarios?</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"
                      ><img
                        src="{% static 'app/img/guerra.jpg' %}"
                        class="d-block w-100"
                        alt="..."
                    /></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Guerra</h3>
                      <p>¿Podras sobrevivir?</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"
                      ><img src="{% static 'app/img/rpg.jpg' %}" class="d-block w-100" alt="..."
                    /></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>RPG</h3>
                      <p>Encarna el camino del heroe</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="#"
                      ><img
                        src="{% static 'app/img/plataforma.png' %}"
                        class="d-block w-100"
                        alt="..."
                    /></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Plataforma</h3>
                      <p>Revive la nostalgia con tus personajes favoritos</p>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col">
              <h1 class="titulo_custom">GameSite</h1>
              <p class="parrafo_custom">¡Bienvenidos a nuestra página de videojuegos! Aquí encontrarás los últimos lanzamientos y los juegos más populares del mercado. Sumérgete en mundos increíbles y vive aventuras emocionantes con nuestros juegos. Desde juegos de acción hasta juegos de estrategia, tenemos algo para todos los gustos. Nuestra selección de juegos es cuidadosamente seleccionada para ofrecerte solo lo mejor en entretenimiento. Además, ofrecemos ofertas especiales y descuentos exclusivos para nuestros clientes. ¡No esperes más y empieza a disfrutar de la mejor experiencia en videojuegos ahora mismo!</p>
            </div>
          </div>
        </div>
      </section>
{% endblock %}

