{% extends 'app/base_categoria.html' %}
{% load static %}

{% block title %} Terror {% endblock %}

{% block games %}
  <div class="col-12 col-md-4 col-lg-3 mt-3 me-3">
    <div class="card" >
      <img src = "{% static 'app/img/terror/re4.jpg' %}"/>
      <div class="card-body">
        <h5 class="card-title">Resident evil 4</h5>
        <p class="card-text">
          Resident Evil 4, conocido en Japón como Biohazard 4
          (バイオハザード Baiohazādo Fō?), es un videojuego de
          acción-aventura y disparos en tercera persona de estilo
          terror y supervivencia desarrollado por Capcom Production
          Studio 4 y distribuido por varias compañías de videojuegos,
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $5.000</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-3 mt-3 me-3">
    <div class="card custom-card" >
      <img src = "{% static 'app/img/terror/sh2.jpg' %}"/>
      <div class="card-body">
        <h5 class="card-title">Silent Hill 2</h5>
        <p class="card-text">
          Silent Hill 2 es un videojuego japonés del género de
          videojuegos de terror y acción-aventura, desarrollado por
          Team Silent y publicado por Konami.​​​
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: $3.500</li>
      </ul>
    </div>
  </div>
{% endblock %}

