{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="card">
    <div class="card-body">
        <h2>Lista de usuarios</h2>
        <hr>
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>FECHA NACIMIENTO</th>
                <th>EMAIL</th>
                <th>DIRECCION</th>
                <th>USERNAME</th>
                <th>STAFF</th>
                <th>SUPERUSER</th>
            </tr>
            {% for p in juegos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.first_name }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.f_nacimiento }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.direccion }}</td>
                <td>{{ p.username }}</td>
                <td>{{ p.is_staff }}</td>
                <td>{{ p.is_superuser }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}