{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block css %}
    <style>
        #form{
          width: 100%;
          background:white;
          border-radius: 10px;
          padding: 20px;
        }
        label{
          font-size: 1rem;
        }

    </style>

{% endblock %}
{% block main %}
    <div class="container-fluid text-center">
        <row>
            <div id="form" class="mt-5">
                <div class="col col-md-1 col-lg-8">
                </div>
                <div class="col-12 col-md-10 col-lg-8">
                    <h2>Lista de usuarios</h2>
                    <hr>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>ID</th>
                            <th class="d-none d-lg-table-cell">NOMBRE</th>
                            <th class="d-none d-lg-table-cell">APELLIDO</th>
                            <th class="d-none d-lg-table-cell">FECHA NACIMIENTO</th>
                            <th>EMAIL</th>
                            <th class="d-none d-lg-table-cell">DIRECCION</th>
                            <th>USERNAME</th>
                            <th class="d-none d-md-table-cell">STAFF</th>
                        </tr>
                        {% for p in juegos %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td class="d-none d-lg-table-cell">{{ p.first_name }}</td>
                            <td class="d-none d-lg-table-cell">{{ p.last_name }}</td>
                            <td class="d-none d-lg-table-cell">{{ p.f_nacimiento }}</td>
                            <td>{{ p.email }}</td>
                            <td class="d-none d-lg-table-cell">{{ p.direccion }}</td>
                            <td>{{ p.username }}</td>
                            <td class="d-none d-md-table-cell">{{ p.is_staff }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col col-md-1 col-lg-2">
                </div>
            </div>
        </row>
    </div>
{% endblock %}
