main {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

/* responsive section */

@media screen and (min-width: 1280px) { /* en pantallas mas grandes de disminuye el carrusel para mostrar mas contenido */
.carousel,
.carousel-inner,
.carousel-item {
  height: 30vh;
}
  }

